.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 5em;

  .select {
    width: 50vw;
  }

  @media (max-width: "1000px") {
    .select {
      width: 85vw;
    }
  }
}
