@import "../../index.scss";

.layout {
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-size: 38px;
    background-color: #1890ff;
    position: absolute;
    padding: 0 1em;

    .logo {
      cursor: pointer;
      color: white;
      display: flex;
      align-items: center;
      display: flex;
      padding: 0.3em;

      span {
        font-size: 24px;
      }
    }

    .cart-icon {
      color: white;
      cursor: pointer;

      .icon {
        font-size: 30px;
      }
    }
  }

  @media (max-width: "1000px") {
    .header {
      .cart-icon {
        right: 1em;
      }
    }
  }
}
